html,
body {
	margin: 0;
	padding: 0;

	color: var(--primary-text-color);
	background: var(--secondary-color);

	font-family: var(--font-family), sans-serif;

}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}


:root {
	--primary-color-hover: #9BBDB2; 
	--primary-color: #7FFFD4; 
	--secondary-color: #DBFFF3;
	--primary-text-color: #343434;
	--tab-acent: #4F9D73;
	--tab-acent-hover: #08621A;
	--tab: #E5E4E2;
}